<a href="https://colab.research.google.com/github/ritik12062000/-VIQASYS-PYTHON-INTERSHIP/blob/main/pattern_assisnment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
for i in range(1, n+1):
    for j in range(n):
        print(i, end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [7]:
for i in range(n):
    for j in range(1, n+1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [8]:
for i in range(n, 0, -1):
    for j in range(n):
        print(i, end=" ")
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [9]:
for i in range(n):
    for j in range(n, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [10]:
for i in range(n):
    for j in range(1, 2*n, 2):
        print(j, end=" ")
    print()

1 3 5 7 9
1 3 5 7 9
1 3 5 7 9
1 3 5 7 9
1 3 5 7 9

In [11]:
for i in range(n):
    for j in range(2*n-1, 0, -2):
        print(j, end=" ")
    print()

9 7 5 3 1
9 7 5 3 1
9 7 5 3 1
9 7 5 3 1
9 7 5 3 1

In [12]:
for i in range(n):
    for j in range(2, 2*n+1, 2):
        print(j, end=" ")
    print()

2 4 6 8 10
2 4 6 8 10
2 4 6 8 10
2 4 6 8 10
2 4 6 8 10

In [13]:
num = 1
for i in range(n):
    for j in range(n):
        print(num, end=" ")
        num += 1
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [14]:
num = n*n
for i in range(n):
    for j in range(n):
        print(num, end=" ")
        num -= 1
    print()

25 24 23 22 21
20 19 18 17 16
15 14 13 12 11
10 9 8 7 6
5 4 3 2 1

In [15]:
num = 1
for i in range(n):
    for j in range(n):
        print(num, end=" ")
        num += 2
    print()

1 3 5 7 9
11 13 15 17 19
21 23 25 27 29
31 33 35 37 39
41 43 45 47 49

In [16]:
num = 2*n*n - 1
for i in range(n):
    for j in range(n):
        print(num, end=" ")
        num -= 2
    print()

49 47 45 43 41
39 37 35 33 31
29 27 25 23 21
19 17 15 13 11
9 7 5 3 1

In [17]:
num = 2
for i in range(n):
    for j in range(n):
        print(num, end=" ")
        num += 2
    print()

2 4 6 8 10
12 14 16 18 20
22 24 26 28 30
32 34 36 38 40
42 44 46 48 50

In [18]:
num = 2*n*n
for i in range(n):
    for j in range(n):
        print(num, end=" ")
        num -= 2
    print()

50 48 46 44 42
40 38 36 34 32
30 28 26 24 22
20 18 16 14 12
10 8 6 4 2