<a href="https://colab.research.google.com/github/ritik12062000/-VIQASYS-PYTHON-INTERSHIP/blob/main/triangle_pattern_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
  n = 4
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [6]:
n = 4
for i in range(1, n + 1):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [7]:
n = 4
for i in range(1, n + 1):
    for j in range(i):
        print(1, end=" ")
    print()

1
1 1
1 1 1
1 1 1 1

In [8]:
n = 4
for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [9]:
n = 4
for i in range(1, n + 1):
    print("  " * (n - i), end="")
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

      1
    1 2
  1 2 3
1 2 3 4

In [10]:
n = 4
for i in range(1, n + 1):
    print("  " * (n - i), end="")
    for j in range(1, i + 1):
        print(j, end=" ")
    for j in range(i - 1, 0, -1):
        print(j, end=" ")
    print()

      1
    1 2 1
  1 2 3 2 1
1 2 3 4 3 2 1

In [11]:
n = 4
for i in range(n, 0, -1):
    print("  " * (n - i), end="")
    for j in range(1, i + 1):
        print(j, end=" ")
    for j in range(i - 1, 0, -1):
        print(j, end=" ")
    print()

1 2 3 4 3 2 1
  1 2 3 2 1
    1 2 1
      1

In [12]:
n = 4
for i in range(1, n + 1):
    num = 1
    for j in range(i):
        print(num, end=" ")
        num += 2
    print()

1
1 3
1 3 5
1 3 5 7

In [13]:
n = 4
for i in range(1, n + 1):
    num = 2
    for j in range(i):
        print(num, end=" ")
        num += 2
    print()

2
2 4
2 4 6
2 4 6 8

In [14]:
n = 4
num = 1
for i in range(1, n + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [15]:
for i in range(1, n+1):
    num = 1
    for j in range(i):
        print(num, end="")
        num += 2
    print()

1
13
135
1357

In [16]:
for i in range(1, n+1):
    num = 2
    for j in range(i):
        print(num, end="")
        num += 2
    print()

2
24
246
2468

In [17]:
for i in range(n, 0, -1):
    num = 2*i
    for j in range(i):
        print(num, end="")
        num -= 2
    print()

8642
642
42
2

In [18]:
for i in range(n):
    for j in range(i+1, n+1):
        print(j, end="")
    print()

1234
234
34
4

In [19]:
for i in range(1, n+1):
    for j in range(i, 0, -1):
        print(j, end="")
    print()

1
21
321
4321